h2, h3{
    text-align: left;
    margin-top: 0%;
}
h3 {
    color: var(--site-color);
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 2rem;
}
.main-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-info img {
    max-width: 100%;
    object-fit: scale-down;
}
.main-contact ul{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.main-contact ul li img{
    width:10%;
    margin: 0.5rem;
    vertical-align: middle;
}
.main-contact ul li {
    width: 100%;
}
.right-content {
    text-align: left;
}

.about-intro a {
    display: block;
    background-color: var(--site-color1);
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
    padding: .5rem;
    margin-top: 1rem;
}
.about-intro a:hover{
    background-color:  rgba(53, 181, 147, 0.542);
    background-blend-mode: darken;
}
.about-skills-container {
    display: grid;
    grid-auto-rows: auto;
    column-gap: 1rem;
}
.about-skill-bar {
    height:.75rem;
    border: .05rem solid white;
    width: 95%;
}
.about-skill-bar-fill {
    height:100%;
    background-color: var(--site-color1);
}
.excel {
    width:90%;
}
.alteryx {
    width:65%;
}
.sql {
    width:72%;
}
.tableau {
    width:88%;
}
.power-bi {
    width:55%;
}
.html-css{
    width:45%;
}
.about-skills {
    float: left;
    width:50%;
}
.learning-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.learning-box h3 {
    text-align: center;
}
.learning-container {
    display: grid;
    grid-template-columns: auto auto;
    margin:1rem;
}
.learning-box img {
    width:10rem;
    height: 10rem;
    object-fit: cover;
}

