
h4 {
    font-weight: inherit;
    font-size: 1.15rem;
    text-align: center;
    font-style: italic;
    margin-bottom: 1rem;
}
p{
    text-indent: 1rem;
    margin-top: 1rem;
}
.main-content{
    display: grid;
    grid-template-columns: auto auto;
}

.main-info img {
    width: 100%;
    padding:1rem;
}
.main-contact ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}
.main-contact ul li{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}
.main-contact ul li img{
    max-width:5rem;
    vertical-align: middle;
    object-fit: scale-down;
}
.main-contact ul li a{
    color:var(--text-color);
    text-decoration: none;
    align-self: center;
}


.leftColumn{
    display: flex;
    flex-direction: column;
    max-width: 25%;
    float:left;
    justify-content: center;
}
.rightColumn {
    display: flex;
    flex-direction: column;


}
.main-content{
    content:"";
    display:table;
    clear:both;
}
.about-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-skills{
    width:100%;
    padding:1rem;
}

@media only screen and (max-width: 760px) {
    .leftColumn, .rightColumn, .card1, .card {
        width:100%;
        margin: 1rem 0;
        padding:1rem;
        display:flex;
    }
    .leftColumn img {
        display:none;
        padding:1rem;
    }
    .main-contact ul li img{
        max-width: 1.5rem;
        max-height: 1.5rem;
    }
    .main-contact ul li a{
        font-size: .75rem;
    }
    .main-info img {
        width: 100%;
        padding:1rem;
    }
    .about-skills{
        width:100%;
        padding:1rem;
    }
    .main-contact ul{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .main-contact ul li{
        flex-wrap: nowrap;
        width: 100%;
        padding: .25rem;
    }
    .main-contact ul li img{
        max-width: 2rem;
        max-height: 2rem;
        vertical-align: middle;
        margin: .5rem;
        left:0;
        fill-opacity: var(--text-color);
    }
    .main-contact ul li a{
        color:var(--text-color);
        text-decoration: none;
        margin: .5rem;
        left:0;
    }
    .about-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-skills{
        width:100%;
        padding:1rem;
    }
    .main-content{
        content:"";
        display:table;
        clear:both;
    }
    .about-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-skills{
        width:100%;
        padding:1rem;
    }
    .main-content{
        content:"";
        display:table;
        clear:both;
    }
    .about-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-skills{
        width:100%;
        padding:1rem;
    }
    .main-content{
        content:"";
        display:table;
        clear:both;
    }

}