h2, h3{
    text-align: left;
    margin-top: 0%;
}
h3 {
    color: var(--site-color);
}
p {
    text-align: justify;
}
.main-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 2rem;
}

.about-intro a {
    display: block;
    background-color: var(--site-color1);
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
    padding: .5rem;
    margin: 1rem 0;
}
.about-intro a:hover{
    background-color:  rgba(53, 181, 147, 0.542);
    background-blend-mode: darken;
}
.about-skills-container {
    display: grid;
    grid-auto-rows: auto;
    column-gap: 1rem;
}
.about-skill-bar {
    height:.75rem;
    border: .05rem solid white;
    width: 95%;
}
.about-skill-bar-fill {
    height:100%;
    background-color: var(--site-color1);
}
.excel {
    width:90%;
}
.alteryx {
    width:65%;
}
.sql {
    width:72%;
}
.tableau {
    width:88%;
}
.power-bi {
    width:55%;
}
.html-css{
    width:45%;
}
.about-skills {
    float: left;
    width:50%;
}


.learning-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;  
}
.learning-container img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}
.learning-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.learning-box h3{
    text-align: center;
}   
