/* Main Index Page */
text{
    content:"";
    background: -webkit-linear-gradient(var(--site-color1), var(--site-color3));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

main a{
    color: var(--text-color);
    font-weight: bold;
}
main a:hover{
    background-color: var(--site-color3);
    text-shadow: 0rem 0rem 5rem var(--background-color);
}
.main-title {
    max-height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.main-hero-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slideInFromBottom 1s ease;
}
.main-hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: slideInFromBottom 1s ease;
}
.main-hero-img img {
    height: 50vh;
    margin-top: 10vh;
    object-position: bottom;
    animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(120%);
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
p {
    margin: .5rem;
}
.card {
    padding: 0;
}
.main-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-icons a img {
    justify-content: center;
    flex-flow: row wrap;
    max-height: 4rem;
    object-fit: cover;
    margin: .25rem;
    filter: grayscale(100%);
}
.main-icons a img:hover {
    filter: grayscale(0%) saturate(100%);
}
/*About block*/
.index-about {
    background-color: var(--background1);
}
.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 5rem;
    place-content: center;
    justify-content: center;
    column-gap: 1rem;
}

.about-skills-container {
    justify-content: center;
    align-items: center;
    text-align: start;
    padding: 1rem;
}


.index-about-text{
    padding:1rem;
}
.index-about-text a {
    display: block;
    background-color: var(--site-color1);
    text-transform: uppercase;
    width: fit-content;
    padding: .5rem 1rem;
    margin-top: 1rem;
}
/*Past Companies*/

.past-companies-img{
    margin:2rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.past-companies-img img{
    height: 4rem;
    object-fit: scale-down;
}
#bg-blur{
    filter: drop-shadow(0 0 .5rem var(--text-color));
}
/* Tablet Friendly Media Query */
@media only screen and (max-width: 768px) {
    body{
        margin:0;
        padding:0;
    }

    .main-hero-intro {
        width: 100%;
        padding-bottom: 2rem;
        margin: 0 auto;
    }

    .main-icons, .main-hero-intro p, .main-hero-img {
        display: none;
    }

    .green-button{
        padding: .25rem .5rem;
    }
    .index-about-text a{
        padding: .25rem .5rem;
    }
    .index-about-text{
        max-width: 100%;
    }
    .about-skills-container{
        display: grid;
        grid-template-columns: 1fr 4fr;
        justify-content: center;
        
    }
    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .past-companies-img ul li img {
        width: 8rem;
        height: 4rem;
    }
}
