/* Default styles */
main {
    margin: 2rem 10rem;
    align-items: center;
    justify-self: center;
    list-style: circle;
    text-align: justify;
}

main ol,
main ul,
main li {
    margin: .25rem;
}

main ul {
    list-style: circle;
}

.intro-image {
    padding: 0 2rem;
}

.intro-image img {
    width: 17rem;
    height: auto;
    object-fit: scale-down;
    vertical-align: middle;
    float: left;
    margin: 0 2rem;
}

.intro-text {
    text-align: justify;
}

table th {
    width: 50%;
    justify-content: space-evenly;
    text-align: center;
}

table tr {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

table td img {
    width: 50%;
    height: auto;
    object-fit: scale-down;
    vertical-align: middle;
    margin: 2rem;
}

e {
    color: var(--site-color1);
}

/* Media queries for mobile devices */
@media only screen and (max-width: 600px) {
    main {
        margin: 1rem;
    }

    .intro-image img {
        width: 100%;
        float: none;
        margin: 1rem 0;
    }

    table th,
    table td img {
        width: 100%;
        margin: 1rem 0;
    }
}