
span {
    font-style: italic;
}

hr{
    width: 100%;
    border: 2px solid var(--text-color);
    margin: 0;
}
#thin-hr{
    width: 100%;
    border: 1px solid var(--text-color);
    margin: 0;
}
section{
    padding:1rem 2rem;
}
.content-wrapper{
    display:grid;
    grid-template-columns: 25% 75%;;
}
.left-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    flex-direction: column;
    align-self: start;
    justify-content: center;
    line-height:1.5;
    padding:0;
}
.resume-img img {
    width: 100%;
}
.resume-contact ul li img {
    width:2rem;
    vertical-align: middle;
}
.resume-download a {
    width:fit-content;
    padding:.5rem 1rem;
    display: block;
    background-color: var(--site-color1);
}
.resume-skills{
    margin-top:1rem;
}

.right-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.resume-position-info {
    display: flex;
    justify-content: space-between;
}

.resume-position ul{
    list-style:disc;
    margin-bottom:1rem;
    line-height: 1.5;
}
.resume-position ul li{
    margin-left:1.5rem;
}


/* certifications */
.resume-certifications {
    text-align: center;
    margin: 1rem 0;
    color:var(--text-color)
}

.certification-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem,1fr));
    gap: 1rem;
}
.certification-box {
    margin:1rem;
    padding:1rem;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    line-height:1.5;
    border-radius: 1rem;
    color:var(--background-color);
    box-shadow: 0 0 1rem var(--text-color);
}
.certification-box p {
    font-style: italic;
    text-align: center;
}
.certification-box a {
    display:block;
    background-color: var(--site-color1);
    margin:.5rem;
    padding:.5rem 1rem;
}
.google {
    background: center/cover rgba(0,0,0,.5) url(https://s3.amazonaws.com/coursera_assets/meta_images/generated/CERTIFICATE_LANDING_PAGE/CERTIFICATE_LANDING_PAGE~S5SF2JJDQ6JX/CERTIFICATE_LANDING_PAGE~S5SF2JJDQ6JX.jpeg);
    background-blend-mode: darken;
}
.cfi {
    background:center/cover rgba(0,0,0,.5) url(../Images/CFi-logo.jpeg);
    background-blend-mode: darken;
}
.forage {
    background: center/cover   rgba(0,0,0,.5)url(../Images/forage-logo.webp);
    background-blend-mode: darken;
}
.intuit{
    background: center/cover  rgba(0,0,0,.5) url(../Images/intuit-logo.jpeg);
    background-blend-mode: darken;
}
.linkedin{
    background: center/cover  rgba(0,0,0,.5)  url(../Images/linkedin-logo.png);
    background-blend-mode: darken;
}
.bloomberg{
    background: center/cover  rgba(0,0,0,.5) url(../Images/bloomberg-logo.jpeg);
    background-blend-mode: darken;
}

@media only screen and (max-width: 768px){
    .content-wrapper{
        padding:0 1rem;
    }
    .left-wrapper{
        display:flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        float:none;
    }
    .certification-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;

    }
    .right-wrapper{
        padding:0;
        margin:0;
    }
    .resume-certifications{
        width: 100%;
    }
    .certification-box{
        color: var(--text-color)
    }
}
    
