section {
    padding: 2rem 5rem;
}
.main-hero {
    height: calc(70vh - 5rem);
    background-image: url(../Images/portrait.png), url(../Images/bg.png);
    background-size: 60vh, cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    column-gap: 5rem;
    padding:0 5rem;
}

.main-hero-intro a {
    width:fit-content;
    display: block;
    text-align: center;
    margin-top: 2.0rem;
    padding:.5rem 1rem;
    background-color: var(--site-color1);
}
.main-hero-quotes {
    border-left: .25rem solid var(--site-color1);
    padding-left: 1rem;
    margin-left: 5rem;
}

.index-category{
    color:black;
    background-color: white;
}
.index-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem;
}

.index-category-box{
    height:15rem;
    width: 15rem;  
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111 center/cover;
    position: relative;
}
.index-category-box h3 {
    line-height: var(--line-height);
    text-shadow: 0 .10rem .10rem #000;
    text-transform: uppercase;
    z-index: 100;
}

.index-category-box:hover{
    background-color: rgba(0,0,0,.4);;
    background-blend-mode: darken;
}
.index-category-box:nth-child(1){
    background: rgba(0,0,0,.4) url(../Images/about.jpg) center/cover;
}
.index-category-box:nth-child(2){
    background:  rgba(0,0,0,.4) url(../Images/summer-internship.jpeg) center/cover;
}
.index-category-box:nth-child(3){
    background:  rgba(0,0,0,.4) url(../Images/sdsu-campus.jpeg) center/cover;
}
.index-category-box:nth-child(4){
    background:  rgba(0,0,0,.4) url(../Images/George-Kaplan-Resume.png) center/cover;
}

.category-overlay {
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
}


/*About block*/
.index-about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    column-gap: 2rem;
}
.index-about-img {
    width:30%;
}
.index-about-img img{
    width:90%;
    vertical-align: middle;
}
.index-about-text {
    width:35%;
}
.index-about-text a {
    display:block;
    background-color: var(--site-color1);
    text-transform: uppercase;
    width:fit-content;
    padding:.5rem 1rem;
    margin-top: 1rem;
}
.index-about-skill {
    width:35%;
    display: grid;
}
.index-about-skill-bar {
    height:.75rem;
    border: .05rem solid white;
}
.index-about-skill-bar-fill {
    height:100%;
    background-color: var(--site-color1);
}
.excel {
    width:90%;
}
.alteryx {
    width:65%;
}
.sql {
    width:72%;
}
.tableau {
    width:88%;
}
.power-bi {
    width:55%;
}
.html-css{
    width:45%;
}
.past-companies {

    justify-content: center;
    align-items: center;
    margin-bottom:5rem ;
}
.past-companies-img ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.past-companies-img ul li img{
    width:10rem;
    height:5rem;
    object-fit: scale-down;
    object-position: center;
}
.past-companies-img ul li {
    margin:.25rem;
    padding: .5rem;
    background-color: white;
    border: .25rem solid var(--site-color1);
}